# Akshay Garments - Environment Variables Example
# Username: akshaydonthula283@gmail.com
# Password: @Akshay5
VITE_ADMIN_SALT=akshay_garments_sec_2026
VITE_ADMIN_PASSWORD_HASH=99480cb6cf3c47d9445a1b2c08ad4e548db692a62756e3526d5610a15d3bccc1
